<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<hr
  class="line-error"
  [ngClass]="{
    'valid': nameInput.valid,
    'invalid': nameInput.invalid
  }">
<p class="message-error" [class.invalid]="nameInput.invalid">
  El campo es requerido
</p>
<div class="styles-grid">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px' : box.width,
      'height.px' : box.height,
      'background-color' : box.background,
      'display': 'block'
      }"
      >
    </div>
  </div>
</div>
