*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;

}
body{
  background-image: url("https://img.freepik.com/vector-premium/fondo-borroso-abstracto-color-pastel-fondo-pantalla-colorido_592487-771.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
